<!-- <div class="pagination">
	<button type="button" class="pagination__arrow-button">
		<img src="../../../assets/img/double-arrows.png" alt="" class="pagination__arrow-button_img">
	</button>

	<div class="pagination__item_cntr">
		<div class="pagination__item">
			<button class="pagination__item_button" *ngFor="let pagin of numberOfPagesForPagination" [value]="pagin" (click)="currentPage($event)">{{pagin}}</button>
		</div>
	</div>

	<button type="button" class="pagination__arrow-button">
		<img src="../../../assets/img/double-arrows.png" alt="" class="pagination__arrow-button_img">
	</button>
</div> -->